.skipline{
	display: block;
}
body{
	font-family: Helvetica;
}
.name{
	text-align: center;
	font-size: 190px;
}

.profile_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17px;
}

div#links{
	text-align: center;
	background-color: black;
	color: white;
}
