
body{
	font-family: Helvetica;
}
.name{
	text-align: center;
	font-size: 190px;
	border-style: solid;
	border-width: 15px;
	margin-bottom: 5px;
	margin-top: 0px;
}

.name:hover{
	background-color: black;
	color: white;
}

.profile_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

div#links{
	text-align: center;
	color: white;
}

.bio_header{
	font-size: 24px;
	text-align: center;
	border-style: solid;
	border-color: black;
}

.biography{
	text-align: center;
}
.head{
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0px;
}

.detail{
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 0px;
}
.subhead{
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 15px;
}



